{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "bracketSpacing": false,
  "semi": false,
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 4
}
